body {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

body main {
	max-width: 70vw;
	margin: 0 auto;
	padding: 5rem 1rem;

	text-align: justify;

	font-size: 1.25rem;

	.app-header {
		margin-top: 1rem;
	}

	p {
		$margin: .75rem;
		margin-top: $margin;
		margin-bottom: $margin;

		line-height: 1.25em;

		text-indent: 1.5em;
	}

	table {
		text-align: center;
		margin: 1em auto;

		&, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		td, th {
			padding: .35em;
		}
	}
}

* {
	// Remove default margin and padding from elements that have it
	margin: 0;
	padding: 0;

	// Changes default box-sizing to include border so elements don't easily
	// overflow

	// For exemple: by default, an element with horizontal padding and width 100%
	// overflows
	box-sizing: border-box;
}
